@font-face {
    font-family: 'BulgariaModernaV3';
    src: url('../fonts/myfonts/BulgariaModernaV3.otf') format('truetype');
}
@font-face {
    font-family: 'BernardoModaContrast';
    src: url('../fonts/myfonts/BernardoModaContrast.ttf') format('truetype');
}
@font-face {
    font-family: 'RuslanDisplay';
    src: url('../fonts/myfonts/RuslanDisplay.ttf') format('truetype');
}
@font-face {
    font-family: 'AvdiraR';
    src: url('../fonts/myfonts/Avdira_R.otf') format('truetype');
}
@font-face {
    font-family: 'BuxtonSketch';
    src: url('../fonts/myfonts/BuxtonSketch.ttf') format('truetype');
}
@font-face {
    font-family: 'BeyondWonderland';
    src: url('../fonts/myfonts/BeyondWonderland.ttf') format('truetype');
}
@font-face {
    font-family: 'Guildof';
    src: url('../fonts/myfonts/guildof.ttf') format('truetype');
}
@font-face {
    font-family: 'ss_adec';
    src: url('../fonts/myfonts/ss_adec.otf') format('truetype');
}
@font-face {
    font-family: 'goudy';
    src: url('../fonts/myfonts/GoudyThirty-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'marianna';
    src: url('../fonts/myfonts/marianna_lkikov.ttf') format('truetype');
}
@font-face {
    font-family: 'castro';
    src: url('../fonts/myfonts/Castro.ttf') format('truetype');
}
marianna_lkikov.ttf
.AvdiraR {
    font-family: AvdiraR !important;
    font-size: 2em;
}
.BeyondWonderland {
    font-family: BeyondWonderland !important;
    font-size: 1.6em;
}
.RuslanDisplay {
    font-family: RuslanDisplay !important;
    font-size: 2em;
}
.BernardoModaContrast {
    font-family: BernardoModaContrast !important;
    color: #6f11ca;
    font-size:2em;
    text-shadow: 2px 4px 6px #808080,
    20px -15px 85px rgba(255,255,255,0.3);
}
.BulgariaModernaV3 {
    font-family: BulgariaModernaV3 !important;
    font-size: 1em;
}
.ss-adec{
    font-family: ss_adec !important;
}

.guildof{
    font-family: Guildof !important;
}
.goudy{
    font-family: goudy !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black !important;
    background-color: rgb(255, 235, 59) !important;
}

hr.custom-fancy {
    height: 30px;
    border: 0 solid #8c8b8b;
    border-top-width: 2px;
    border-radius: 20px;
}
hr.custom-fancy:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border: 0 solid #8c8b8b;
    border-bottom-width: 1px;
    border-radius: 20px;
}

/*hr.custom-fancy {*/
    /*border-top: 4px double #8c8b8b;*/
    /*text-align: center;*/
/*}*/
/*hr.custom-fancy:after {*/
    /*content: '§';*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: -20px;*/
    /*padding: 0 10px;*/
    /*background: #f0f0f0;*/
    /*color: #8c8b8b;*/
    /*font-size: 18px;*/
    /*-webkit-transform: rotate(45deg);*/
    /*-moz-transform: rotate(45deg);*/
    /*transform: rotate(45deg);*/
/*}*/

.whoIsBehind{
    color: #4cff00 !important;
}
.whoIsBehind:hover{
    color: #4acaff !important;
}
.whoIsBehindYe{
    color: snow !important;
}
.whoIsBehindYe:hover{
    color: #4acaff !important;
}

.handyClock{
    box-shadow: 10px 10px 10px #888888;
    /*width: 12%;*/
    font-size:1em;
    text-align: center;
    border: 1px solid black !important;
    /*border: none !important;*/
}

#custFooter{
    text-align: center;
    padding: 20px;
}

#shareBtn{
    color: #4acaff !important;
}