<div class="text-center">
    <mat-card-content>
    <div class="">
        <h4>If you like this teacher - hit the star below.</h4>
        <hr/>
        <h5>Reward </h5>
        <h5>{{data.model.TeacherName}}</h5>
        <h5> with <span>&#11088;</span></h5>
        <br/>
        <p>Vote is anonymous!</p>
        <hr/>
        <div class="text-center">
            <!-- <button id="close" class="mr-2" mat-raised-button color="primary" (click) = "dismiss()">
               <span>&times;</span>
            </button>  -->
            <button  class="mr-2" mat-raised-button color="primary" (click) = "vote()" >
                <div class="rating">
                    <span>☆</span>
                </div>
            </button>
        </div>
    </div>
</mat-card-content>
</div>