<h1 class="text-center">Reported Issues from last week: {{reportedIssuesCount}}</h1>
<div class='row'>  
  <div id="exception-list" class="col-md-4" *ngFor='let element of reportedIssuesArray'>
    <div class="card">
      <div class="card-body">
          <p>
            <b>id :</b> {{element.id}}
          </p>
          <hr style="width:100%; color: black;">
          <p class="card-text">
            <b>user_id :</b> {{element.user_id}}
            <br>
            <b>base_method :</b> {{element.base_method}}
            <br>
            <b>email_type :</b> {{element.email_type}}
            <br>
            <b>email_subject :</b> {{element.model.email_subject}}
            <br>
            <b>tracing_status :</b> {{element.tracing_status}}
            <br>
            <b>text :</b> {{element.model.text}}
            <br>
            <b>raw_html :</b> 
            <span  class="raw" (click)='goToReportedIssueHtml(element.model.raw_html)'>
              click me!
            </span>
          </p>
          <hr style="width:100%; color: black;">  
          <p style="float: right;"> 
            <b>created_on :</b><span> {{element.created_on | date : 'dd-MMM-yy hh:mm:ss a'}} </span>
          </p>
          <p style="float: left;"> 
              <b>issue_status : :</b><span> {{element.model.issue_status}} </span>
            </p>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

