<h1 class="title"><span routerLink='..'>back</span> << Create Article</h1>
<hr>
<div class="editor-wrapper">

  <mat-card class="blog mat-elevation-z3">
    <mat-card-title>TinyMCE</mat-card-title>

    <mat-card-content>
      <form (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
        <mat-form-field class="slogan">
          <input
            matInput
            [formControl]="myForm.controls.title"
            placeholder="Title of your article"
            type="text"/>

          <mat-error *ngIf="myForm.controls.title.hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>

        <div class="mat-form-field-wrapper">
          <editor
            apiKey="qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc"
            [formControl]="myForm.controls.body"
            class="mat-elevation-z1"
            (onInit)="handleEditorInit($event)"
            [init]="{
              icons: 'material',
              skin: 'borderless',
              plugins: 'wordcount',
              menubar: false,
              min_height: 150
            }"
          ></editor>

          <div class="mat-form-field-subscript-wrapper">
            <mat-error *ngIf="myForm.controls.body.hasError('maxlength')">
              Your post exceeds exceeds the character limit
              {{ myForm.controls.body.getError('maxlength').actualLength }} /
              {{ myForm.controls.body.getError('maxlength').requiredLength }}
            </mat-error>

            <mat-error *ngIf="myForm.controls.body.touched && myForm.controls.body.hasError('required')">
              This form is required
            </mat-error>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button (click)="onSubmit(myForm.value)" [disabled]="!myForm.valid">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>

</div>
