button{
    font-size: 1em;
    padding: 5px;
    margin: 5px;
}
.img-fluid {
    border: 1px solid black;
    height: 12vw;
    object-fit: contain;
}
.card{
    margin-bottom: 15px;
}
.rating-star {
    height: 3vw;
}
h1, p{
    font-family: 'Alsandra';
}
p{
    
    font-size: 1.8em;
}

.links {
    img {
        width: 3.4vw;
        margin:0px 10px;
        padding: 10px;
    }

    img:hover {
        background-color: rgba(61, 238, 220, 0.507);
    }
}
  