<div class="row">
    <div class="col-md-6 text-center">
        <h4>Name: {{ teacher?.Name }}</h4>
        <h4>Accreditation Number: {{ teacher?.Id }}</h4>
        <h4>Teacher Status: {{ teacher?.Status }}</h4>
    </div>
    <div class="col-md-6">
        <img src="../../../../../assets/images/no-image-found.jpg" alt="Sample image">
    </div>

    <button  
        type="button"                        
        class="btn btn-outline-info ml-3" 
        routerLink='/teachers'>
        Back To Teachers
    </button>  
</div>

<ngx-loading [show]="loading"></ngx-loading>