mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left button,
.nav-right button {
  margin-right: 8px;
}
.page-container {
  padding: 24px;
}
.nav-pill, .nav-center {
  position: relative;
  padding: 32px 6px;
  transition: background-color 0.25s ease, color 0.25s ease;
  font-family:'Amatic SC', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.nav-pill:hover {
  background-color:aqua;
  color: black;
}

/*
FLAGS
*/
.flag-en {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 30'%3E%3CclipPath id='t'%3E%3Cpath d='M0,0 v30 h60 v-30 z'/%3E%3C/clipPath%3E%3CclipPath id='s'%3E%3Cpath d='M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23t)'%3E%3Cpath d='M0,0 v30 h60 v-30 z' fill='%23012169'/%3E%3Cpath d='M0,0 L60,30 M60,0 L0,30' stroke='%23fff' stroke-width='6'/%3E%3Cpath d='M0,0 L60,30 M60,0 L0,30' stroke='%23c8102e' stroke-width='4' clip-path='url(%23s)'/%3E%3Cpath d='M30,0 v30 M0,15 h60' stroke='%23fff' stroke-width='10'/%3E%3Cpath d='M30,0 v30 M0,15 h60' stroke='%23c8102e' stroke-width='6'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-size: 150% auto; /* zoom in */ background-position: center;
}


.flag-bg {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'><rect width='3' height='2' fill='%23fff'/><rect width='3' height='1.33' y='0.66' fill='%2300966E'/><rect width='3' height='0.66' y='1.33' fill='%23D62612'/></svg>");
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.lang-switch {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  border-radius: 20px;
  gap: 6px;
  backdrop-filter: blur(4px);
}

.flag {
  width: 28px;
  height: 18px;
  cursor: pointer;
  background-size: cover;
  border-radius: 3px;
  opacity: 0.5;
  transition: opacity 0.2s, transform 0.2s;
}

.flag:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.flag.active {
  opacity: 1;
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.divider {
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.3);
}