mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left button,
.nav-right button {
  margin-right: 8px;
}
.page-container {
  padding: 24px;
}
.nav-pill, .nav-center {
  position: relative;
  padding: 32px 6px;
  transition: background-color 0.25s ease, color 0.25s ease;
  font-family:'Amatic SC', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.nav-pill:hover {
  background-color:aqua;
  color: black;
}


