.mat-simple-snackbar {
  font-size: 1.4rem;
}

.successSnackbar {
  color: #155724;
  background-color: #d4edda;
  max-width: 100% !important;
  margin-left: auto !important; // center align from left
  margin-right: auto !important; // center align from right
  .mat-button-wrapper{
    color: black;
  }
  .mat-button:hover{
    background-color: lightskyblue;
  }
}

.errorSnackbar {
  background-color: red;
  color: white;
  max-width: 100% !important;
  margin-left: auto !important; // center align from left
  margin-right: auto !important; // center align from right
  .mat-button-wrapper{
    color: white;
  }
  .mat-button:hover{
    background-color: lightskyblue;
  }
}
