button{
    font-size: 1em;
     padding: 5px;
     margin: 5px;
  }
  .img-fluid {
    border: 1px solid black;
    height: 16vw;
    object-fit: contain;
  }
  .social {
    width: 3vw;
    margin-top:20px;
  }
  .social:hover {
   cursor: pointer;
  }
  h2{
  font-family: 'Open Sans Condensed', sans-serif;
}
.card {
  margin-bottom: 10px;
}
  @media only screen and (max-width: 451px) {
    h2 {
        font-size:2em;
    }
    h5 {
        font-size: 0.8em;
    }
    .img-fluid {
      // border: 1px solid black;
      height: 56vw;
      object-fit: contain;
    }
    button img {
      width: 50px;
    }
  }
  