<div class="text-left">
    <button mat-raised-button color="primary" class="m-2" routerLink='/dashboard'>Dashboard</button>
</div>
<div class="text-center">
  <h1>Craftsman Menu</h1>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><b>C</b></h3>
        <span>* Create new courses from scratch
        <br>* Tailor existing courses however you want
        <br>* Keep track of your courses' statistics
        </span>
        <hr>
        <button 
          mat-raised-button
          class="mr-2"
          color='primary'
          routerLink='/teachers/craftsman-menu/courses'>
          <i class="far fa-edit" style="font-size: 1.6em"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><b>Q</b></h3>
        <p class="card-text">Manage course Questionnaries and stuffs</p>
        <hr>
        <button 
          mat-raised-button
          class="mr-2"
          color='primary'
          (click)="addQuestionnaire()">
          Questionnaire
          <i class="material-icons">
              playlist_add
          </i>
        </button>
        <button color='primary' mat-raised-button class="mr-2">
          Preview
          <i class="material-icons">
           list_alt
          </i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><b>S</b></h3>
        <p>Details for your students & stuffs</p>
        <hr>
        <button color='primary' mat-raised-button class="mr-2">
          Students
          <i class="material-icons">
           list_alt
          </i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
          <h3 class="card-title"><b>Sketch Book</b></h3>
        <p class="card-text">* Add/Manage Tests and stuffs here</p>
        <hr>
        <button color='primary' mat-raised-button class="mr-2">
          <i style="font-size: 1.8em" class="material-icons">
            playlist_add
          </i> 
          TEST
        </button>
        <i class="far fa-edit" style="font-size: 1.6em"></i>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
 