.card-additional{ background: rgb(239, 250, 142); }
.card-base{ background: rgb(153, 245, 135); }
.card-info{ background: rgb(153, 252, 252); }
.card-purple{ background: rgb(250, 164, 253);}
img{ 
    width: 76px;
    height: 76px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid black;
}
span.btn{
    color: blue;
}