<ngx-loading [show]="loading"></ngx-loading>
<h1 class="title">Dashboard</h1>
<hr>
<div class="row text-center">
  <div class="col-sm-2 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Subscriptions</h5>
        <hr style="border-color: black; width: 70%">
        <p class="card-text">Subscribed To:</p>
        <h1>{{dashboardData?.user.subscriptions?.length || 0}}</h1>
        <hr>
        <button mat-raised-button
          color="primary" (click)='goToMySubscriptions()'><i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-2 mt-3">
    <div class="card card-info">
      <div class="card-body">
        <h5 class="card-title">Enrolled Courses</h5>
        <hr style="border-color: black; width: 70%">
        <p class="card-text">Enrolled To:</p>
        <h1>{{totalEnrolledCourses || 0}}</h1>
        <hr>
        <button mat-raised-button
          color="primary" (click)='goToMyCourses()'><i class="fas fa-search"></i>
        </button>
        <br>
      </div>
    </div>
  </div>
  <!-- Posts -->
  <div class="col-sm-2 mt-3">
    <div class="card card-additional">
      <div class="card-body">
        <h5 class="card-title">Posts</h5>
        <hr style="border-color: black; width: 70%">
        <p class="card-text">Total Created:</p>
        <h1>{{dashboardData?.user.courses?.length || 0}}</h1>
        <hr>
        <button mat-raised-button
          color="primary" routerLink='/teachers/craftsman-menu/courses'><i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Received Emails -->
  <div class="col-sm-2 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Received Emails</h5>
        <hr style="border-color: black; width: 70%">
        <div class="row">
          <div class="col-md-6">
            <p class="card-text">Total Of:</p>
                  <h1>{{totalReceivedEmails || 0}}</h1>
          </div>
          <div class="col-md-6">
            <p class="card-text">Unreaded:</p>
                  <h1>{{totalReceivedEmails}}</h1>
          </div>
        </div>
        <!-- <p class="card-text">Total Of:</p>
        <h1>{{totalReceivedEmails || 0}}</h1> -->
        <hr>
        <button mat-raised-button
          color="primary" (click)='goToMyReceivedNotifications()'><i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
    <!-- Suggestions & Reported Issues -->
  <div class="col-sm-2 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Suggestions & Reported Issues</h5>
        <hr style="border-color: black; width: 70%">
        <p class="card-text">Total Of:</p>
        <h1>{{totalIssues || 0}}</h1>
        <hr>
        <button mat-raised-button
          color="primary" (click)='goToMyReportedIssues()'>
          <i class="fas fa-search"></i>
        </button>
        <button mat-raised-button color="warn" routerLink="/account/report-issue">
          Report
        </button>
      </div>
    </div>
  </div>
  <!-- Blogger Craftsman Menu -->
  <div class="col-sm-2 mt-3">
    <div class="card card-additional">
      <div class="card-body">
        <h5 class="card-title">Blogger Craftsman Menu</h5>
        <hr style="border-color: black; width: 70%">
        <p class="card-text">Total Items:</p>
        <h1>0</h1>
        <hr>
        <button mat-raised-button
          color="primary" routerLink='/dashboard/craftsman-menu'><i class="fas fa-search"></i>
        </button>
        <button mat-stroked-button routerLink='/bloggers/create-post'>Add</button>
      </div>
    </div>
  </div>
   <!-- Teacher Craftsman Menu -->
   <div class="col-sm-2 mt-3">
    <div class="card card-additional">
      <div class="card-body">
        <h5 class="card-title">Teacher Craftsman Menu</h5>
        <hr style="border-color: black; width: 70%">
        <p class="card-text">Total Items:</p>
        <h1>0</h1>
        <hr>
        <button mat-raised-button
          color="primary" routerLink='/dashboard/craftsman-menu/courses'><i class="fas fa-search"> C</i>
        </button>
      </div>
    </div>
  </div>
    <!-- Notifications Hub -->
    <div class="col-sm-2 mt-3">
      <div class="card card-additional">
        <div class="card-body">
          <h5 class="card-title">Notifications Hub</h5>
          <hr style="border-color: black; width: 70%">
          <div class="row">
            <div class="col-md-6">
              <p class="card-text">Email:</p>
                    <p>Enabled</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">SMS:</p>
                  <p>Disabled</p>
            </div>
          </div>
          <hr>
          <button mat-raised-button
            color="primary" routerLink='/dashboard/craftsman-menu/courses'><i class="fas fa-search"> C</i>
          </button>
        </div>
      </div>
    </div>
</div>
