<div class="col-md-12 col-center text-center">
    <div class="card">
        <br/>
        <h1 class="title">{{ subscription.Type }} </h1>
        <div class="card-body row">
            <div class="card col-md-4">
                <div class="card-body">
                    <img src='{{ subscription.Image }}' class="img-thumbnail img-fluid" alt="Sample image">
                    <br>
                    <br>
<hr>
                      <p>
                        Total subscribers :
                        <span class="badge badge-primary"> 0</span>
                      </p> 
                      <hr>
                    <!-- <br>
                    <br>
                    <h5 style="text-align:center;">Created on: {{subscription.CreatedOn | date :'dd-MMM-yy'}}</h5>
                    <br>
                    <h5 style="text-align:center;">Last modified on: {{subscription.ModifiedOn | date :'dd-MMM-yy'}}</h5> -->
                </div>
            </div>
            <div class="card col-md-8">
                <div class="card-body">
                    <!-- <h4 style="text-align:left;">Quick info :</h4>
                    <br> -->
                    <h5 style="text-align:left;">{{subscription.Description}}</h5>
                    <!-- <hr/>
                    <h5 style="text-align:left;">Active : {{subscription.IsActive}}</h5>
                    <hr/>
                    <h5 style="text-align:left;">Confirmed subscribers : {{subscription.TotalSubscribers}}</h5>
                    <hr/>
                    <h5 style="text-align:left;">Pending subscribers : {{subscription.PendingSubscribers}}</h5>
                    <hr/>
                    <h5 style="text-align:left;">Cancelled subscribers : {{subscription.CancelledSubscribers}}</h5> -->
                </div>
            </div>
        </div>
    </div>
</div>