<ngx-loading [show]="loading"></ngx-loading>
<h1 class="title">Courses</h1>
<hr>
<br>
<h1 class="ss text-center" *ngIf='loading'>Please wait!<br>Fetching data from the server...</h1>
<div class="text-center" *ngIf='flagEnrollSuccess; else infoBox'>
    <img src="../../../../../../assets/images/Checkmark.png" class="img-fluid">
    <h1>Congrats! <br> You are enrolled 4 the [c.Name] course  ;)</h1>
    <button
        type="button"
        class="btn btn-outline-info"
        (click) = 'goToMyCourses()'>
        <b>Go to My Courses</b>
    </button>
    <button
        type="button"
        class="btn"
        (click) = 'backToCourses()'>
        <b>Back</b>
    </button>
    <br><br>

</div>
<ng-template #infoBox>
    <div class="row">
        <div *ngFor='let c of courses' class="col-md-4 text-center">
            <div class="card">
                <div class="card-body">
                    <img src='{{ c.ImgUrl }}' class="img-thumbnail img-fluid" alt="Sample image">
                    <br><br>
                    <h3>{{ c.Name }}</h3>
                    <!-- <p> Enrolled students so far: <span class="badge badge-primary">{{c.EnrolledStudents}}</span>

                    </p>
                    <p>Teachers: {{c.Teachers}}</p> -->
                    <!-- <hr style="width: 60%; color: blue;">
                   -->

                    <hr>
                    <h5>Start @ {{ c.StartDate | date :'dd-MMMM-yyyy' }}</h5>
                    <h5>End @ {{ c.EndDate | date :'dd-MMMM-yyyy' }}</h5>
                    <!-- <h5>Enrolled students: {{ c.EnrolledStudents || 0 }}</h5>
                    <hr style="width: 60%; color: blue;">      -->
                    <br>
                    <button
                        mat-raised-button
                        color="primary"
                        (click) = getCoursePreview(c.Id)>
                        <i class="fas fa-search"></i>
                    </button>
                    <span *ngIf='c.IsActive'>
                        <button
                            *ngIf='isEnrolled(c.Id)'
                            class="btn btn-outline-info"
                            (click) = 'goToCourse(c.Id)'>
                            <b>Go to Course Progress</b>
                        </button>
                        <span *ngIf='isEnrolled(c.Id) && !c.IsElectable'>
                            <button
                                mat-raised-button
                                (click) = 'enroll4course(c.Id)'>
                                Enroll 4 Course
                            </button>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</ng-template>
