
h2{
    text-align: center;
}
.card{
    margin-bottom: 15px;
    background: snow;
}
button{
     font-size: 1em;
    // width: 30%;
     padding: 5px;
     margin: 5px;
}
.img-fluid {
    border: 1px solid black;
    height: 14vw;
    object-fit: contain;
}

@media only screen and (max-width: 736px) {
    h1{
        font-size: 4em;
    }
    h2 {
        font-size: 1.8em;
    }
    .img-fluid {
        width: 100%;
        height: 44vw;
    }
}