<!-- <div class="animated fadeInRightBig">
  <mdb-card>
      <mdb-card-body>
        <mdb-card-title >
              <h1 id="title">Terms Of Use</h1>

        </mdb-card-title>
        <mdb-card-text >
          <p class="text">Please read these <b>Terms</b> carefully before start using BaiGanio website operated by (BG) Team.
              Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
              <br />
              <br />
              <b>
                  By accessing or using the Service you agree to be bound by these Terms. If you disagree
                  with any part of the terms then you may not access the Service.
              </b>
          </p>
        </mdb-card-text>
        <mdb-card-title>
        <h3 class="Third-Title">Changes</h3>
        </mdb-card-title>
        <mdb-card-text >
          <p class="text">  We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
                revision is material we will try to provide at least 30 days' notice prior to any new terms
                taking effect. What constitutes a material change will be determined at our sole discretion.
          </p>
        </mdb-card-text>
        <mdb-card-title>
        <h3 class="Third-Title">Contact Us</h3>
        </mdb-card-title>
        <mdb-card-text>
          <p class="text">If you have any questions about these Terms, please contact us.
          </p>
        </mdb-card-text>
      </mdb-card-body>
  </mdb-card>
</div> -->
