.content{
    text-align: center;
}
h1, h3{
    font-family: 'Alsandra';
}
h1 {
    font-size: 3em;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    span{
        color: white;
    }   
}
@media only screen and (max-width: 451px) {
    h3 {
        font-size: 1.6em;
    }
    h5 {
        font-size: 1.4em;
    }
}