<h4 class="modal-header">Password Strength Checker</h4>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th class="heading" style="width: 65%">Strength: Blank</th>
            <th class="heading" style="width: 35%">Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30%">
              <circle-progress [percent]="0" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
                [outerStrokeColor]="'#575150'" [innerStrokeColor]="'#BBB8B8'" [animation]="true"
                [animationDuration]="300"></circle-progress>
            </td>
            <td style="width: 70%">
              <div style="font-size: 0.9em">Blank Password (empty and/or space chars only)</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th class="heading" style="width: 65%">Strength: Very Weak</th>
            <th class="heading" style="width: 35%">Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30%">
              <circle-progress [percent]="20" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
                [outerStrokeColor]="'#802C3A'" [innerStrokeColor]="'#BA1833'" [animation]="true"
                [animationDuration]="300"></circle-progress>
            </td>
            <td style="width: 70%">
              <div style="font-size: 0.9em">Either too short (less than 8 chars), has minimum 6 chars.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th class="heading" style="width: 65%">Strength: Weak</th>
            <th class="heading" style="width: 35%">Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30%">
              <circle-progress [percent]="40" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
                [outerStrokeColor]="'#B20C0C'" [innerStrokeColor]="'#FF000C'" [animation]="true"
                [animationDuration]="300"></circle-progress>
            </td>
            <td style="width: 70%">
              <div style="font-size: 0.9em">At least 6 characters, one strong condition met (>= 6 chars with 1 or more
                  <div class="tooltip">UC* <span class="tooltipUp">UpperCase</span></div> letters, <div
                  class="tooltip">LC* <span class="tooltipLow">LowerCase</span></div> letters,
                digits & special chars)</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th class="heading" style="width: 65%">Strength: Medium</th>
            <th class="heading" style="width: 35%">Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30%">
              <circle-progress [percent]="60" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
                [outerStrokeColor]="'#D0BA1C'" [innerStrokeColor]="'#F6DE31'" [animation]="true"
                [animationDuration]="300"></circle-progress>
            </td>
            <td style="width: 70%">
              <div style="font-size: 0.9em">At least 6 characters, two strong conditions met (>= 6 chars with 1 or
                more <div class="tooltip">UC* <span class="tooltipUp">UpperCase</span></div> letters, <div
                class="tooltip">LC* <span class="tooltipLow">LowerCase</span></div> letters,
                digits & special chars)</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th class="heading" style="width: 65%">Strength: Strong</th>
            <th class="heading" style="width: 35%">Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30%">
              <circle-progress [percent]="80" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="300"></circle-progress>
            </td>
            <td style="width: 70%">
              <div style="font-size: 0.9em">At least 8 characters, three strong conditions met (>= 8 chars with 1 or
                more <div class="tooltip">UC* <span class="tooltipUp">UpperCase</span></div> letters, <div
                class="tooltip">LC* <span class="tooltipLow">LowerCase</span></div> letters,
                digits & special chars)</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th class="heading" style="width: 65%">Strength: Very Strong</th>
            <th class="heading" style="width: 35%">Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30%">
              <circle-progress [percent]="100" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#187726'" [innerStrokeColor]="'#52C062'" [animation]="true"
                [animationDuration]="300"></circle-progress>
            </td>
            <td style="width: 70%">
              <div style="font-size: 0.9em">At least 8 characters, all strong conditions met (>= 8 chars with 1 or
                more <div class="tooltip">UC* <span class="tooltipUp">UpperCase</span></div> letters, <div
                  class="tooltip">LC* <span class="tooltipLow">LowerCase</span></div> letters,
                digits & special chars)</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>