<div class="text-left">
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Full Name:</mat-label>
                        <input matInput disabled value="Me, Myself & I">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>User ID:</mat-label>
                        <input matInput disabled value="hash-mash-here">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field class="example-full-width">
            <mat-label>Nickname</mat-label>
            <input matInput placeholder="Ex: Shiny Me">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex: my-cool-me@domain.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Facebook Profile Url</mat-label>
            <input matInput placeholder="Ex: https://www.facebook.com/profile.php?id=100000862476257">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>GitHub Profile Url</mat-label>
            <input matInput placeholder="Ex: https://github.com/baiganio">
        </mat-form-field>
        <button  
            mat-raised-button
            color="primary"> 
            Update
        </button>
        <button  
            mat-raised-button
            color="informational"> 
            Dismiss
        </button>
    </form>
</div>