<h3 style="text-align: center">Change password</h3>
<hr>
<form [formGroup]="changePassFG" class="text-center">
      <mat-vertical-stepper [linear]="true" #changeUserPassStepper>
        <mat-step [stepControl]="changePassFG.get('Password')">
          <ng-template matStepLabel>New Password</ng-template>
          <mat-form-field class="w-100 mb-5">
            <input type="password" matInput placeholder="New Password" formControlName="Password" required>
            <mat-error *ngIf="changePassFG.get('Password').hasError('required')">New pass is required!</mat-error>
            <mat-error *ngIf="changePassFG.get('Password').hasError('minlength')">Min lenght should be 6 characters!
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="changePassFG.get('PassConfirm')">
          <ng-template matStepLabel>Re-type Password</ng-template>
          <mat-form-field class="w-100 mb-5">
            <input type="password" matInput placeholder="Password confirmation" formControlName="PassConfirm" required>
            <mat-error *ngIf="changePassFG.get('PassConfirm').hasError('required')">
              Password confirmation is required!
            </mat-error>
            <mat-error *ngIf="changePassFG.get('PassConfirm').hasError('mustMatch')">
              Password missmatch!
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
            <button mat-raised-button color="primary" class="ml-3" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div>
            <button mat-stroked-button color="warn" (click)="cancelChange()">Close</button>
            <button mat-raised-button color="primary" class="ml-3" (click)='changePass()'>Update</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>