<form [formGroup]='studentForm'>
    <mat-vertical-stepper [linear]="false">
        <mat-step [stepControl]="studentForm.get('university')">
            <ng-template matStepLabel>University</ng-template>
            <mat-form-field>
                <input type="text" matInput placeholder="University" formControlName="university">
            </mat-form-field>
            <div>
                <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                <button mat-raised-button color="primary" class="ml-3" matStepperNext
                    type="button">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="studentForm.get('facultyNumber')">
            <ng-template matStepLabel>F№</ng-template>
            <mat-form-field>
                <input matInput placeholder="(ex) 11223344" formControlName="facultyNumber">
            </mat-form-field>
            <div>
                <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                <button mat-raised-button color="primary" class="ml-3" matStepperNext
                    type="button">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="studentForm.get('speciality')">
            <ng-template matStepLabel>Speciality</ng-template>
            <mat-form-field>
                <input matInput placeholder="Specialty" formControlName="speciality">
            </mat-form-field>
            <div>
                <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                <button mat-raised-button color="primary" class="ml-3" matStepperNext
                    type="button">Next</button>
            </div>
        </mat-step>

        <mat-step [stepControl]="studentForm.get('gitHubProfileUrl')">
            <ng-template matStepLabel>GitHub Profile Url</ng-template>
            <mat-form-field>
                <input matInput placeholder="(ex) https://github.com/BaiGanio"
                    formControlName="gitHubProfileUrl">
            </mat-form-field>
            <div>
                <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                <button mat-raised-button color="primary" class="ml-3" matStepperNext
                    type="button">Next</button>
            </div>
        </mat-step>

        <!-- <mat-step [stepControl]="studentForm.get('studentGroup')">
            <ng-template matStepLabel>Group</ng-template>
            <mat-form-field>
                <input type="number" matInput id="studentGroup" formControlName="studentGroup"
                    placeholder="Group">
            </mat-form-field>
        </mat-step> -->

        <!-- <mat-step [stepControl]="studentForm.get('studentYearOfStudy')">
            <ng-template matStepLabel>Year</ng-template>
            <mat-form-field>
                <input type="number" matInput id="studentYearOfStudy" formControlName="studentYearOfStudy"
                    placeholder="* Year of Study (ex: 1-4)">
            </mat-form-field>
        </mat-step> -->

        <!-- [stepControl]="studentForm.get('studentYearOfGraduating')">
            <ng-template matStepLabel>Graduating</ng-template>
            <mat-form-field>
                <input type="number" matInput id="studentYearOfGraduating"
                    formControlName="studentYearOfGraduating"
                    placeholder="* Year of Graduating (ex: 2020-2024)">
            </mat-form-field> -->
        <!-- <mat-step>
            <div>
                <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                <button mat-raised-button color="primary" class="ml-3" matStepperNext
                    type="button">Next</button>
            </div>
        </mat-step> -->

        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
                <button mat-raised-button class="ml-3" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" class="ml-3" (click)='updateStudent()'>Update</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</form>