
#filters mat-form-field {
  margin-right: 100px;
}
.active{
  background-color: lightgreen;
}
.not-active{
  background-color: lightgrey;
}
#todos table {
  width: 100%;
}
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 5px;
  color: white;
}
.mat-row:hover {
  background-color: rgba(13, 212, 247, 0.171);
}
