<form [formGroup]='notifySubsFG' class="text-center">
  <mat-vertical-stepper [linear]="false" #notifySubsStepper>
    <mat-step [stepControl]="notifySubsFG.get('emailSubs')">
      <ng-template matStepLabel>Email Notifications</ng-template>
      <mat-checkbox formControlName='emailSubs' color='primary'>Subscribe!</mat-checkbox>
      <div>
        <button mat-button type="button" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="notifySubsFG.get('gsmSubs')">
      <ng-template matStepLabel>SMS</ng-template>
      <mat-checkbox formControlName='emailSubs'>Subscribe!</mat-checkbox>
      <mat-form-field>
        <input matInput placeholder="(+359) 88 123 456" formControlName="phoneNumber" required>
      </mat-form-field>
      <div>
        <button mat-button type="button" matStepperPrevious>Back</button>
        <button mat-button type="button" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button mat-button (click)='onCloseClick()'>Close</button>
        <button mat-raised-button (click)='updateNotifications()'>Update</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
