<section class="text-center">
    <h3>{{editCourseForm.value?.Name || 'N/A'}}</h3>
    <h5>ID : {{model.Id}}</h5>
    <hr>
    <mat-tab-group [selectedIndex]="activeTab" style="overflow:hidden;">   
        <mat-tab label="Overall Info">
            <ng-template matTabContent>
                <div class="row">
                    <div class="col-md-4">
                        <form [formGroup]="editCourseImageForm">
                            <label for="CourseImg">Course Image</label>
                            <div class="thumb-holder">
                                <img
                                    class="courseImg img-fluid img-thumbnail"
                                    [src]='model.Image'
                                    alt="Course picture">
                                <input 
                                    type="file"
                                    formControlName='CourseImg'
                                    #courseImage
                                    style="display: none"
                                    (change)="onFileSelected($event)"
                                    accept="image/*">
                                <br>
                                <button mat-stroked-button color="primary" class="m-2" (click)="courseImage.click()">Upload picture</button>
                                <button mat-stroked-button color="warn" class="m-2" (click)='clearPicture()'>Clear Picture</button>
                            </div>
                        </form>
                        <button 
                            mat-raised-button 
                            (click)="editCourseImage()"
                            color="primary"
                            [disabled]="!editCourseImageForm.valid || !editCourseImageForm.dirty">
                            Update Course Image
                        </button>
                    </div>
                    <div class="col-md-8">
                        <label>Course Info</label>
                        <form [formGroup]='editCourseForm'>
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="w-100">
                                        <textarea matInput formControlName="Name" placeholder="Name" cols="30" rows="2"></textarea>
                                    </mat-form-field>
                                    <br />              
                                    <mat-form-field class="w-100">
                                        <textarea matInput formControlName="Description" placeholder="Description (raw html is accepted)" rows="10"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="w-75">
                                        <mat-label>Active</mat-label>
                                        <mat-select [(value)]="model.IsActive" formControlName="IsActive">
                                            <mat-option value="true">True</mat-option>
                                            <mat-option value="false">False</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="w-75">
                                        <input
                                            matInput
                                            [matDatepicker]="startDatePicker"
                                            formControlName="StartDate"
                                            placeholder="Start Date">
                                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startDatePicker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field class="w-75">
                                        <input
                                            matInput
                                            [matDatepicker]="endDatePicker"
                                            formControlName="EndDate"
                                            placeholder="End Date">
                                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #endDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="text-center">
                            <button 
                                mat-raised-button 
                                (click)="editCourse()"
                                color="primary"
                                [disabled]="!editCourseForm.valid || !editCourseForm.dirty">
                                Update Course Info
                            </button>
                            <button 
                                style="width: 15%"
                                mat-stroked-button 
                                (click)="onRejectClick()"
                                color="warn">
                                Dismiss
                            </button>
                        </div>
                    </div>
                </div> 
            </ng-template>
        </mat-tab>
        <mat-tab label="Leading Teachers">
            <ng-template matTabContent>
                <br>
                <span *ngFor="let t of model.Teachers" 
                    class="text-left" 
                    style="float: left; 
                    padding: 10px;"> 
                    {{t}}
                    <button
                        mat-stroked-button 
                        color='warn'
                 >
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </span>    
                <br><br>
                <div class="text-left">
                    <br>             
                    <form [formGroup]="selectTeacherForm">
                        <mat-form-field class="w-25">
                            <mat-label class="text-left">Add teacher to course</mat-label>
                            <mat-select
                                formControlName="Teacher"
                                matInput>
                                <mat-option value="Teacher">--</mat-option>
                                <mat-option *ngFor="let t of teachers" value="{{ t.Id }}">{{ t.Name }}</mat-option>
                            </mat-select>
                        </mat-form-field> 
                        <button
                            style="width: 10%"
                            mat-raised-button 
                            (click)="addTeacher2Course()"
                            color="primary"
                            [disabled]="!selectTeacherForm.valid
                                        || !selectTeacherForm.dirty
                                        || selectTeacherForm.controls.Teacher.value === 'Teacher'">
                            Add
                        </button>                   
                    </form>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Enrolled Students">
            <ng-template matTabContent>
                <p>Number of enrolled students: {{ model.EnrolledStudents }}</p>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <hr>
    <p>Modified On: {{model.ModifiedOn | date : 'dd-MMM-yy hh:mm:ss a'}}</p>
</section>