button{
   // font-family: 'Alsandra';
    font-size: 1.4em;
    padding: 10px;
    margin: 10px;
  }
  
  button:hover{
    background: rgb(52, 199, 243);
  }

//   .example-form {
//     font-size: 1.2em;
//     width: 80%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }
  
  td {
    padding-right: 8px;
  }