<div style="text-align:center; margin-top: 20px;">
  <div class="content">
  <h1 class="title">Welcome to Bai Ganio</h1>
  <hr>
    <div class="row">
      <div class="col-md-5 col-center">
        <div class="card">
          <div class="card-body">
            <img src="./assets/images/app/Ganio.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-7 col-center">
        <div class="card">
          <div class="card-body">
            <h1 class="comingSoon">Bai Ganio is a fictional character & protagonist in a series of satirical
            feuilletons from Bulgarian writer, lawyer and public man Aleko Konstantinov.
            </h1>
            <br>
            <hr>
            <br>
            <button mat-raised-button routerLink='/home'>
              More ...
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
