h4{
 font-family: 'Open Sans Condensed', sans-serif;
 text-align: left;
}
h3{
  font-family: 'Open Sans Condensed', sans-serif;
}
h5{
  font-family:'Amatic SC', sans-serif;
  font-size: 2rem;
}
.hr-title{
  width: 64%;
  text-align: center;
  margin: 10px auto 10px auto;
  color: blue;
}
/* ---------------------------
          FLIP CARD
--------------------------- */ 
.flip-card {
  width: 100%;
  height: 400px;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: -1px 5px 15px 0px rgba(0,0,0,0.8);
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-img-top{
    height: 16vw;
    object-fit: contain;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

/* Flip button bottom-right */
.flip-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,0.7);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 1.4rem;
  font-family:'Amatic SC', sans-serif;
  font-weight: 600;
  
}
.flip-btn:hover{
  background: rgb(52, 199, 243);
  cursor: pointer;
}
/* Wikipedia animated text */
.wiki-animated {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.25s ease, text-shadow 0.25s ease;
  font-family:'Amatic SC', sans-serif;
}

.wiki-animated:hover {
  transform: scale(1.25);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
.aleko{
  text-decoration: none !important;
}
.aleko:hover {
  cursor: pointer;
}
/* ---------------------------
          END FLIP CARD
--------------------------- */ 
button{
 font-family:'Amatic SC', sans-serif;
    font-size: 1.6em;
  }
  button:hover{
    background: rgb(52, 199, 243);
    color: white;
  }

/* Animated “More” text */
.more-text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  transition: transform 0.25s ease, text-shadow 0.25s ease;
  font-family:'Amatic SC', sans-serif;
}

.more-text:hover {
  transform: scale(1.25);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

/* Back side “Back” text */
// .back-text {
//   margin-top: 20px;
//   color: white;
//   font-weight: 600;
//   cursor: pointer;
//   transition: transform 0.25s ease, text-shadow 0.25s ease;
// }

// .back-text:hover {
//   transform: scale(1.25);
//   text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
// }