button {
  font-family: 'Alsandra', cursive;
  font-size: 2rem;
  padding: 20px;
}
.mat-raised-button.mat-blue{
  color: white !important;
}
button:hover{
  background: rgb(52, 199, 243);
}
.comingSoon{
 font-family: 'Open Sans Condensed', sans-serif;
}
.title{
  font-family: 'Alsandra', sans-serif;
  font-size: 4rem;
  text-align: center;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
  color: white;
}
.hr-title{
  width: 64%;
  text-align: center;
  margin: 10px auto 10px auto;
  color: blue;
}

@media only screen and (max-width: 451px) {
    img {
        width: 60%;
    }
    h1 {
        font-size: 4em;
    }
}