<div class="col-md-12 col-center text-center">
    <div class="card">
      <br/>
      <h1 class="title">{{ course.Name }}</h1>
      <div class="card-body row">
        <div class="card col-md-3">
          <div class="card-body">
            <img src='{{ course.Image }}' class="img-thumbnail img-fluid" alt="Sample image">
            <hr>
            <h5>
              Enrolled so far :
              <span class="badge badge-primary"> {{course.EnrolledStudents || 0}}</span>
            </h5>
            <hr/>
            <!-- <p><b>Start @ </b> {{course.StartDate | date: 'dd-MMM-yy' }}
              <br>
              <b>End @ </b> {{course.EndDate | date: 'dd-MMM-yy' }}</p> -->
           
            <!-- <div style="text-align: center;">
                <br/>
                <p id="statusHolder">Active: <span>{{course.IsActive}}</span></p>
                <p id="statusHolder">Is Electable: <span>{{course.IsElectable}}</span></p>               
                <hr/>
                <p><b>Last updated on :</b> {{course.ModifiedOn | date: 'dd-MMM-yy' }}</p>
            </div> -->
          </div>
        </div>
        <div class="card col-md-9">
          <div class="card-body">
            <!-- <h4 style="text-align:left;">Quick info :</h4>
              <hr/> -->
              <h5 style="text-align:left;" [innerHTML]="course.Description"></h5>
             
          </div>
        </div>
        <!-- <div class="card col-md-3">
          <div class="card-body">
            <h5 style="text-align: center;">Lead Teachers</h5>
            <hr/>
              <div class="row">
                  <div class="col-md-3" id="roundImg"> 
                      <img src='/assets/images/no-profile-img.png' class="img-thumbnail img-fluid" alt="Sample image" style="border-radius: 50%;">
                    </div>
                    <div class="col-md-9"> 
                        <p >Lyuben Kikov</p>
                      </div>
                      <br/>
              </div>
          </div>
        </div> -->
        <div class="col-12 col-center text-center">
            <hr/>
            <p>
              * You need to have confirmed Student subscription if you want to enroll for the course.
              <!-- <br>
              * Course is electable one month before start date. -->
            </p>
          </div>
      </div>
    </div>
</div>