<div id="viewForgotPass">
  <h1 class="title">{{ 'FORGOT_PASS.TITLE' | translate }}</h1>
  <hr class="hr-title">

  <!-- ERROR MODAL -->
  <div class="dim" *ngIf="resetPasswordErrorFlag">
    <div class="msg">
      <h1 [innerHTML]="resetPasswordErrorMessage"></h1>
      <br><br>
      <button class="btn btn-outline-info" (click)="dismiss()">Dismiss</button>
    </div>
  </div>

  <!-- SUCCESS MODAL -->
  <div class="dim" *ngIf="successFlag">
    <div class="msg">
      <h1 class="checkEmail">
        {{ 'FORGOT_PASS.SUCCESS_MESSAGE' | translate }}
      </h1>
      <br><br>
      <button class="btn btn-outline-info" (click)="dismiss()">Dismiss</button>
    </div>
  </div>

  <!-- MAIN FORM CONTAINER -->
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="auth-animate p-4 shadow-lg" style="max-width: 480px; width: 100%; font-weight: 600;">

      <h3 class="text-center" [innerHTML]="'FORGOT_PASS.INFO_TEXT' | translate"></h3>
      <hr>
      <form [formGroup]="forgotPassForm" (ngSubmit)="sendResetLink(forgotPassForm.value)">

        <!-- EMAIL -->
        <div class="mb-4">
         <label class="form-label">{{ 'FORGOT_PASS.EMAIL_LABEL' | translate }}</label>
          <input
            type="email"
            class="form-control form-control-lg"
            formControlName="email"
            [placeholder]="'FORGOT_PASS.EMAIL_PLACEHOLDER' | translate"
          />

          <!-- ERRORS -->
          <div class="text-danger mt-2" *ngIf="forgotPassForm.get('email')?.touched && forgotPassForm.get('email')?.invalid">
            <div *ngIf="forgotPassForm.get('email')?.hasError('required')">{{ 'FORGOT_PASS.EMAIL_REQUIRED' | translate }}</div>
            <div *ngIf="forgotPassForm.get('email')?.hasError('email')">{{ 'FORGOT_PASS.EMAIL_INVALID' | translate }}</div>
          </div>
        </div>

        <!-- SUBMIT BUTTON -->
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="forgotPassForm.invalid">
          {{ 'FORGOT_PASS.SUBMIT' | translate }}
        </button>

      </form>

      <br>

      <!-- BACK TO HOME -->
      <div class="home">
        <a routerLink="/home">
          {{ 'FORGOT_PASS.BACK_HOME' | translate }}
        </a>
      </div>

    </div>
  </div>
</div>
