#viewForgotPass{
    font-family:'Amatic SC', sans-serif;
}
h3{
    font-family: 'Open Sans Condensed', sans-serif;
}
input{
    font-size: 1.8rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
label{
    font-size: 2.8rem;
}
.mb-4{
    text-align: center;
}
button{
    font-weight: 700;
    font-size: 2rem;
}
button:hover{
  background: rgb(52, 199, 243);
}
.home{
    text-align: center;
    a{
        text-decoration: none;
        font-size: 1.6rem;
        color:black;
    }
    a:hover{
        cursor: pointer;
        color: blue;
    }
    
}