.mat-simple-snackbar {
  font-size: 1.4rem;
}

.successSnackbar {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.dangerSnackbar {
  background-color: red;
  color: white;
  max-width: 86% !important;
  margin-left: auto !important; // center align from left
  margin-right: auto !important; // center align from right
  .mat-button-wrapper{
    color: white;
  }
}
