.content{
    text-align: center;
}
h3 {
    font-size: 2em;
    font-family: 'Alsandra';
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    span{
        color: white;
    }   
}