.ss {
    font-family: "Alsandra";font-size: 4em;
}
@media only screen and (max-width: 797px) {
    h1 {
        font-size: 3em;
    }
}
@media only screen and (max-width: 591px) {
    h1 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 451px) {
    h1 {
        font-size: 1.5em;
    }
}