<div class="content">
  <div class="row">
    <div class="col-xs-12 col-center text-center">
      <h1 style="font-size: 6em;" i18n *ngIf="!successMessage && !errorMessage">Please wait...</h1>
      <h1 style="font-size: 6em;" *ngIf="successMessage">{{successMessage}}</h1>
      <h1 *ngIf="errorMessage">{{errorMessage}}</h1>
      <div *ngIf="successMessage && enableLogin" i18n>
        <br>
        <h1 style="font-size: 4em;">Thank you for confirming your account.</h1>
        <br>
        <br>
        <button type="button" class="btn btn-primary" (click)="goToLogin()" style="font-size: 2em;">
          Go to Login
        </button>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
