<div mat-dialog-content class="row justify-content-center">
  <form [formGroup]="updateToDoForm" class="text-center">
    <mat-form-field class="w-75">
        <input type="text" matInput formControlName='name' placeholder="Title">
    </mat-form-field>
    <mat-form-field class="w-75">
    <input type="text" matInput formControlName='description' placeholder="Description">
    </mat-form-field>
    <mat-form-field class="w-75">
      <input
        matInput
        [matDatepicker]="startDatePicker"
        formControlName="date"
        placeholder="Date">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <p>
    <mat-checkbox class="example-margin"  [checked]="isDone" (change)="checked()">
      Is Done?
      </mat-checkbox></p>
    <button
      class="ml-3"
      mat-stroked-button
      (click)="dismiss()">
      Dismiss
    </button>
    <button
      class="ml-3"
      mat-stroked-button
      (click)="update()">
      Confirm
    </button>
  </form>
</div>
