<ngx-loading [show]="loading"></ngx-loading>
<h1 class="title">
    Local Account
</h1>
<hr>
<div class="row justify-content-center">
  <div class="dim" *ngIf='loginError'>
    <div class="msg">
      <h1 innerHtml={{loginErrorMessage}}></h1>
      <br><br>
      <button 
        class="btn btn-outline-info" 
        (click) = dismiss()
        style="width:10%">
        Dismiss
      </button>
    </div>    
  </div>
  <div class="col-xl-8">
   
    <!-- START LOGIN CONTENT -->
    <section id="viewLogin">
      <br>
      <!-- START FORM -->
      <form [formGroup]="loginForm" (ngSubmit)="sendLoginRequest()">
        <!-- Email -->
        <mat-form-field class="w-100 mb-3">
          <input type="email" matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="loginForm.get('email').hasError('required')">This field is required!</mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">Invalid input format!</mat-error>
        </mat-form-field>
        <br>
        <!-- Password -->
        <mat-form-field class="w-100 mb-5">
          <input type="password" matInput formControlName="password" placeholder="Password">
          <mat-error *ngIf="loginForm.get('password').hasError('required')">This field is required!</mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Min lenght should be 3 characters!
          </mat-error>
        </mat-form-field>
        <!-- Remember me -->
        <mat-checkbox color="primary" formControlName="rememberMe" [disabled]="!loginForm.valid">Remember Me?
        </mat-checkbox>
        <br>
        <!--Button GO-->
        <input type="submit" class="login-button" value="GO" [disabled]="!loginForm.valid">
      </form>
      <!-- END FORM -->
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4 text-center">
    <button  
      mat-raised-button
      color="primary" 
      routerLink="/account/forgotten-password"> 
      Forgot Password?
    </button>
  </div>
</div>
