<mat-tab-group>
  <mat-tab label="First" [class.active]="router.url === '/tabs'" data-toggle="tab" [routerLink]="['/tabs']"> Content 1 </mat-tab>
  <mat-tab label="Chart" [class.active]="router.url === '/chart'" data-toggle="tab" [routerLink]="['/chart']">
    <!-- <app-chart></app-chart> -->
  </mat-tab>
  <mat-tab label="Third"> Content 3</mat-tab>
  <mat-tab label="Fourth"> Content 4 </mat-tab>
  <mat-tab label="Fifth"> Content 5 </mat-tab>
  <mat-tab label="Six"> Content 6 </mat-tab>
</mat-tab-group>
