.request, .prev{
  font-size: 1.6em;
}
.request-sm:hover{
  cursor: pointer;
  color:rgb(52, 199, 243);
}
.search{
  font-size: 1em;
  padding: 5px;
  margin: 5px;
}
.search:hover{
  background: rgb(52, 199, 243);
}
#subscrStatus{
  font-size: 1.4em;
}
.img-fluid {
  border: 1px solid black;
  height: 10vw;
  object-fit: contain;
}

@media screen and (max-width: 992px) {
  #subscrContainer {
    flex-direction: column;
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 451px) {
  h3 {
      font-size: 1.2em;
  }
  h5 {
      font-size: 0.8em;
  }
  .img-fluid {
    // border: 1px solid black;
    height: 46vw;
    object-fit: contain;
  }
}