<ngx-loading [show]="loading"></ngx-loading>
<h1 class="title" style="text-align:center">Subscriptions</h1>
<hr> 
<br>
<!-- Subscriptions -->
<div class='row text-center'>
  <h1 class="wait-fetching" *ngIf='loading && isInitMsg'>Please wait!<br>Fetching data...</h1>
  <div id="subscriptions-list" class="col-md-4" *ngFor='let s of subscriptions;'>
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"> {{ s.Type }} </h1>
        <hr>
        <br>
        <div class="view view-cascade overlay">

          <img src='{{ s.Image }}' alt="Sample image" class="img-thumbnail img-fluid">
          <br>
          <br>
          <hr>
          <p *ngIf='s.IsActive' id="subscrStatus">Active : {{s.IsActive}}</p>
          <p *ngIf='!s.IsActive' id="subscrStatus">Subscription in development!</p>
         
          <!-- <span *ngIf='s.IsActive'>
            <span *ngIf='s.IsActive && isConfirmed(s.Id) === false && isWaitingForConfirmation(s.Id) === false'>  
              <button                                     
              class="btn btn-outline-success" 
              (click)='sendRequest(s.Id)'>
              Send request 4 subscription
            </button>
          </span>
            <div style="color: blue;" *ngIf='isWaitingForConfirmation(s.Id)'>Waiting for confirmation!</div>            
        </span> -->
        <button mat-raised-button color="primary" class="search" (click)=getSubscriptionPreview(s.Id)>
          <i class="fas fa-search"></i>
        </button>
        <span *ngIf='s.IsActive && showRequest(s.Id)'
          class="request">
          Request from -> (<span class="request-sm" (click)=sendRequest(s.Id)>here!</span>)
        </span>
        
        
          <span class="prev" *ngIf='s.IsActive && showPreview(s.Id)'>              
            Preview from -> (<span class="request-sm" (click)=goToMySubscriptions()>here!</span>)
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<br> 

<!-- .dim -->
<div class="row justify-content-center">
  <div class="dim" *ngIf='shouldLog'>
    <span class="msg">
      <h1>
        You need to be logged user if you want to send a request!
      </h1>
      <br>
      <br>
      <h1> Please, login first & then request for subscription.</h1>
      <br>
      <button
        class="btn btn-outline-info"
        (click) = dismiss()
        style="width: 10%;">
        Dismiss
      </button>
    </span>
  </div>
  <div class="dim" *ngIf='notificationRequest'>
    <span class="msg">
      <h1>
        Your subscription request is on the fly...
        <br>
        Please check your email for confirmation link!
        <br>
      </h1>
      <br>
      <button
        class="btn btn-outline-info"
        (click) = dismiss()
        style="width:20%">
        <b>Dismiss</b>
      </button>
    </span>
  </div>
  <div class="dim" *ngIf="isUserConfirmingSubscription">
    <span class="msg">
      <h2>
        Thank you for confirming your subscription.
        <br>
        You are now subscribed!
      </h2>
      <br>
      <button
        class="btn btn-outline-info"
        (click) = dismiss()
        style="width:20%">
        <b>Dismiss</b>
      </button>
    </span>
  </div>
</div>
