<footer>
  <div class="card card-image">
    <div class="text-center">
        <div class="py-5">
            <br>
            <h2 id="all-rights">
                Developed by (BG) Team &copy; 
                <br>               
                <span id="innovations">Seeing innovations since 2015</span>
            </h2>
            <h2 class="handyClock"><input type="text" id="clock"></h2>
            <br>
            <div class="links">
                <a href="https://www.facebook.com/baiganio.azurewebsites.net/" target="_blank">
                    <img src="../assets/images/social-icons/facebook.ico" alt="Facebook" title="Facebook">
                </a>
                <a href="https://github.com/BaiGanio" target="_blank">
                    <img src="../assets//images/social-icons/octo.png" alt="GitHub" title="Github">
                </a>
                <a href="https://www.youtube.com/channel/UCczegwwjd8YyeophFBIJ4EA?view_as=subscriber" target="_blank">
                    <img src="../assets/images/social-icons/youtube.png" alt="YouTube" title="YouTube">
                </a>
            </div>
            <br><br>
            <li class="innerLinks">
                <a (click)="getPrivacy()">Privacy Policy</a>
            </li>
            <li class="innerLinks" >
                <a (click)="getTerms()">Terms of Use</a>
            </li>
          <h4>
            <br>
                All rights reserved!
            <br>
          </h4>
        </div>
    </div>
  </div>
</footer>