
<div class="wrapper">
<h2 mat-dialog-title>{{ 'DOWNLOAD_DIALOG.TITLE' | translate }}</h2>
<hr>
<p>
  {{ 'DOWNLOAD_DIALOG.VISITING_FROM' | translate }}
  <strong>
    {{ data.city ?? ('DOWNLOAD_DIALOG.UNKNOWN' | translate) }},
    {{ data.country_name ?? '' }}
  </strong>
  (IP: {{ data.ip }})
</p>

<!-- <p> {{getAttemptsMsg()}} </p> -->
<p>{{ 'DOWNLOAD_DIALOG.ENJOY' | translate }}</p>
<button
  (click)="submit()"
  id="download"
  class="btn btn-primary w-100"
  tabindex="-1">
  {{ 'DOWNLOAD_DIALOG.DOWNLOAD' | translate }}
</button>
</div>

