wtf
<div  class="content" style="overflow: hidden !important;">
    <!-- Section: Testimonials v.1 -->
  <section *ngFor='let c of courses;' class="text-center my-5">  
      <!-- Grid row -->
      <div class="row">
          <!--Grid column-->
          <div class="col-lg-8 col-md-12 mb-lg-0 mb-4">
            <!--Card-->
            <mdb-card class="testimonial-card text-left">
              <!--Background color-->
              <div class="card-up info-color "></div>
              <!--Avatar-->
              <div class="avatar white" style="width: 70%; margin: 0 auto;">
                <img src="{{c.Image2Base64}}" style="width:100%;" class="" />
              </div>
              <mdb-card-body>
                <!--Name-->
                <h1 class="mb-4 text-center">{{c.Name}}</h1>
                <hr>
                <!--Quotation-->
                <p class="dark-grey-text mt-4">
                  Webhook url: <br>{{getStudentWebhookUrl(c.Students)}}</p>
                  
              </mdb-card-body>
            </mdb-card>
            <!--Card-->
          </div>
        <!--Grid column-->
  
        <!--Grid chart-->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4 chart">
          <div style="width: 100%; margin: 0 auto;">
              <canvas mdbChart
                  [chartType]="chartType"
                  [data]="chartData"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
              </canvas>
          </div>
          <br>
          <h1>Total score: ...%</h1>
        </div>
        <!--Grid chart-->
      </div>
      <!-- Grid row -->
  </section>
  <!-- Section: Testimonials v.1 -->
  </div>