h2{
    text-align: center;
}
.img-fluid {
    border: 1px solid black;
    height: 14vw;
    object-fit: contain;
}
button{
    font-family:'Amatic SC', sans-serif;
    font-size: 1.4rem;
}
p{
    text-align: left;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 350px;
  perspective: 1000px;
  margin-bottom: 40px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}



@media only screen and (max-width: 736px) {
    h1{
        font-size: 4em;
    }
    h2 {
        font-size: 1.8em;
    }
    .img-fluid {
        width: 100%;
        height: 44vw;
    }
}