<ngx-loading [show]="loading"></ngx-loading>
<h1 class="title">My Subscription<span *ngIf="subscriptions?.length > 0">s</span></h1>
<hr>

<div class="text-center" *ngIf="subscriptions?.length == 0">
    <br>
    <h1 class="ss">
        Ooops... No Subscriptions yet.
    </h1>
    <h1 class="ss">
        Request for one from -> (<span class="request-sm" (click)=getSubscription()>here!</span>)
    </h1>
    <br>
</div>
<mat-tab-group [selectedIndex]="activeTab">   
    <div *ngFor='let s of subscriptions'>
        <mat-tab class="mt" label="{{s?.type}} Id : {{s?.id}}">
            <ng-template matTabContent>
                <br>
                <div class="row text-center" style="margin: 0 auto; overflow: hidden;">
                    <div class="col-md-3">
                        <app-user-subscription-preview [subscription]='getUserSubscription(s?.id)'></app-user-subscription-preview>
                    </div>
                    <div class="col-md-5">
                        <app-user-subscription-edit></app-user-subscription-edit>
                    </div>
                    <div class="col-md-4">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <mat-label>Company (disabled)</mat-label>
                              <input matInput disabled value="Google">
                            </mat-form-field>
                          
                            <table class="example-full-width" cellspacing="0"><tr>
                              <td><mat-form-field class="example-full-width">
                                <mat-label>Nickname</mat-label>
                                <input matInput placeholder="Ex. Shiny Soul">
                              </mat-form-field></td>
                              <td><mat-form-field class="example-full-width">
                                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                                <input matInput>
                              </mat-form-field></td>
                            </tr></table>
                          
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                <mat-label>GitHub Profile Url</mat-label>
                                <input matInput placeholder="Ex. https://github.com/baiganio">
                              </mat-form-field>
                            </p>
                          
                            <table class="example-full-width" cellspacing="0"><tr>
                              <td><mat-form-field class="example-full-width">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="Ex. San Francisco">
                              </mat-form-field></td>
                              <td><mat-form-field class="example-full-width">
                                <mat-label>Postal Code</mat-label>
                                <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                              </mat-form-field></td>
                            </tr></table>
                          </form>
                    </div>
                </div>
            </ng-template> 
        </mat-tab>
    </div>
</mat-tab-group>

