<ngx-loading [show]="loading"></ngx-loading>
<h1 class="title">Forgotten Password</h1>
<hr>
<div class="dim" *ngIf='resetPasswordErrorFlag'>
  <div class="msg">
    <h1 innerHtml={{resetPasswordErrorMessage}}></h1>
    <br><br>
    <button
      class="btn btn-outline-info"
      (click) = dismiss()>
      Dismiss
    </button>
  </div>
</div>
<div class="dim" *ngIf='successFlag'>
  <div class="msg">
    <h1 class="checkEmail">
      Please check your email for password reset link!
    </h1>
    <br><br>
    <button
      class="btn btn-outline-info"
      (click) = dismiss()>
      Dismiss
    </button>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-12">
    <div class="inputBox">
      <div class="card">
        <div class="card-body">
          <p>
              We will send you password reset link to the email you'll provide below. <br> If you exist in our database, of course ;)
          </p>
          <hr>
          <hr style="color: black;">
          <br>

          <form [formGroup]="forgotPassForm" (ngSubmit)='sendResetLink()'>
            <!-- Email -->
            <mat-form-field >
              <input type="email" matInput formControlName="email" placeholder="my-cool-email@domain.com">
              <mat-error *ngIf="forgotPassForm.get('email').hasError('required')">Email is required !</mat-error>
              <mat-error *ngIf="forgotPassForm.get('email').hasError('email')">Email is invalid !</mat-error>
            </mat-form-field>
            <br>
            <br>
            <button mat-raised-button color='primary' [disabled]='forgotPassForm.invalid'>
              Send me the link
            </button>
          </form>
        </div>

      </div>
    </div>
    <br>
    <button
    class="forgotten-pass"
      mat-raised-button
      routerLink="/home">
      Back to Home
    </button>
  </div>
</div>
