<h1 class="title">Forgotten Password</h1>
<hr>
<div class="dim" *ngIf='resetPasswordErrorFlag'>
  <div class="msg">
    <h1 innerHtml={{resetPasswordErrorMessage}}></h1>
    <br><br>
    <button
      class="btn btn-outline-info"
      (click) = dismiss()>
      Dismiss
    </button>
  </div>    
</div>
<div class="dim" *ngIf='successFlag'>
  <div class="msg">
    <h1 class="checkEmail">
      Please check your email for password reset link!
    </h1>
    <br><br>
    <button
      class="btn btn-outline-info"
      (click) = dismiss()>
      Dismiss
    </button>
  </div>    
</div>
<div class="row text-center">
  <div class="col-md-12">
    <hr>
    <div class="inputBox">

      <div class="card">
        <div class="card-body">
          <!-- <img class="myImg" src="../assets/images/bd2.gif" alt="" /> -->
          <h1>
              <!-- Don't worry!
              <br> 
              Just write your email & we will send you password reset link.
              <br> -->
              We will send you password reset link. If you exist, of course ;)
          </h1>
          <hr>
          <hr style="color: black;">
          <br>
          <div class="view view-cascade overlay">
  
            <form [formGroup]="forgotPassForm" (ngSubmit)='sendResetLink()'>
              <!-- Email -->
              <mat-form-field >
                <input type="email" matInput formControlName="email" placeholder="my-cool-email@domain.com">
                <mat-error *ngIf="forgotPassForm.get('email').hasError('required')">Email is required !</mat-error>
                <mat-error *ngIf="forgotPassForm.get('email').hasError('email')">Email is invalid !</mat-error>
              </mat-form-field>
              <br>
              <br>
              <button class="send" mat-raised-button color='primary' [disabled]='forgotPassForm.invalid'>
                Send password reset link
              </button>
            </form>
          </div>
        </div>
          
      </div>
    
      <br>
      <button class="home" mat-raised-button routerLink='/home'> Back to Home</button>
    
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>