.myImg {
  width: 4%;
}
h1 {
  font-size: 2em;
  vertical-align: middle;
}
button{
  font-size: 1.4em;
  padding: 10px;
}

button:hover{
  background: rgb(52, 199, 243);
}

.inputBox {
  width: 60%;
  margin: 0 auto;
  mat-form-field {
    width: 30%;
    font-size: 1.2em;
    input {
      font-size: 1.4em;
      color: #555;
    }
    mat-error {
      font-size: 1.1em;
    }
  }
}

.checkEmail {
  font-size: 3em;
  vertical-align: middle;
  animation: PopUp 1s ease-in-out;
}



@media only screen and (max-width: 736px) {

  .checkEmail{
    font-size: 1.5em;
  }

  .myImg {
    width: 12%;
  }

  .inputBox {
      width: 80%;
    button {
      width: 80%;
    }
  }

  .btn-outline-info{
      width: 50%;
  }
}
