<footer>
    <div class="footer-content text-center">
        <br>
        <br><br>
        <h1 id="all-rights">
            Developed by (BG) Team
        </h1>
        <br>
        <h3>Seeing innovations since 2015</h3>
        <h3 class="handyClock"><input type="text" id="clock"></h3>
        <br>
        <div class="links">
            <a href="https://www.facebook.com/baiganio.azurewebsites.net/" target="_blank">
                <img src="../assets/images/social-icons/facebook.jpg" alt="Facebook" title="Facebook">
            </a>
            <a href="https://github.com/BaiGanio" target="_blank">
                <img src="../assets//images/social-icons/octo.png" alt="GitHub" title="GitHub">
            </a>
            <a href="https://www.youtube.com/channel/UCczegwwjd8YyeophFBIJ4EA?view_as=subscriber" target="_blank">
                <img src="../assets/images/social-icons/youtube.png" alt="YouTube" title="YouTube">
            </a>
        </div>
        <br>
        <button class="innerLinks">
          <a (click)="getPrivacy()">Privacy Policy</a>
        </button>
        <button class="innerLinks">
          <a (click)="getTerms()">Terms of Use</a>
        </button>
        <button class="innerLinks">
          <a (click)="getTerms()">FAQ</a>
        </button>
        <button class="innerLinks">
          <a (click)="goToBGTeam()">About Us</a>
        </button>
        <br>
        <h3>App v{{currentApplicationVersion}}</h3>
        <br>
    </div>
  </footer>