<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">My Enrollments</h2>     
        <hr>
    </div>
    <div *ngFor='let c of courses' class="col-md-4 col-center text-center">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <img src='{{ c.Image }}' class="img-thumbnail img-fluid" alt="Sample image">
                        <h4>{{ c.Name }}</h4>
                        <hr style="width: 60%; color: blue;">  
                        <h4>(w3) Progress: <br> 81% </h4>
                    </div>                 
                    <div class="col-md-5">
                        <p>Homeworks : 74%</p>
                        <p>LetMeIn : 35 points</p>
                        <p>Self Motivation : 20 points</p>
                        <p>Intermediate Exam 1: 80%</p>
                        <p>Intermediate Exam 2: 60%</p>
                        <p>Final Exam : 90%</p>
                        <hr style="width: 60%; color: blue;">      
                        <div class="text-center">
                            <button  
                                type="button"                        
                                class="btn btn-outline-success"
                                (click) = 'showCourseDetails(c.Id)'>
                                <b>Detailed view</b>
                            </button>
                            <br><br>
                        </div>
                    </div>
                </div>  
            </div>    
        </div>  
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>