.myImg {
  width: 4%;
}
h1 {
  font-size: 2em;
  vertical-align: middle;
}


.inputBox {
  width: 40%;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  mat-form-field {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.2em;
    input {
      font-size: 1.4em;
      color: #555;
    }
    mat-error {
      font-size: 1.1em;
    }
  }
  button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 50%;
    font-size: 1.2em;
    margin: 0 auto;
  }
}

.checkEmail {
  font-size: 3em;
  vertical-align: middle;
  animation: PopUp 1s ease-in-out;
}



@media only screen and (max-width: 736px) {
  h1 {
    font-size: 1.6em;
  }

  .checkEmail{
    font-size: 1.5em;
  }

  .myImg {
    width: 12%;
  }

  .inputBox {
      width: 80%;
    button {
      width: 80%;
    }
  }

  .btn-outline-info{
      width: 50%;
  }
}
