<div class="dim" *ngIf='resetPasswordErrorFlag'>
  <div class="msg">
    <h1 innerHtml={{resetPasswordErrorMessage}}></h1>
    <br><br>
    <button
      class="btn btn-outline-info"
      (click) = dismiss()>
      Dismiss
    </button>
  </div>    
</div>
<div class="dim" *ngIf='successFlag'>
  <div class="msg">
    <h1 class="checkEmail">
      Please check your email for password reset link!
    </h1>
    <br><br>
    <button
      class="btn btn-outline-info"
      (click) = dismiss()>
      Dismiss
    </button>
  </div>    
</div>
<div class="row text-center">
  <div class="col-md-12">
    <hr>
    <img class="myImg" src="../assets/images/bd2.gif" alt="" />
    <h1>
        Don't worry!
        <br> 
        Just write your email & we will send you password reset link.
        <br>
        If you exist, of course ;)
    </h1>
    <hr>
    <div class="inputBox">
      <form [formGroup]="forgotPassForm" (ngSubmit)='sendResetLink()'>
        <!-- Email -->
        <mat-form-field class="w-100 mb-3">
          <input type="email" matInput formControlName="email" placeholder="my-cool-email@domain.com">
          <mat-error *ngIf="forgotPassForm.get('email').hasError('required')">Email is required !</mat-error>
          <mat-error *ngIf="forgotPassForm.get('email').hasError('email')">Email is invalid !</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color='primary' [disabled]='forgotPassForm.invalid'>
          Send password reset link
        </button>
      </form>
    </div>
  </div>
  <button mat-raised-button
  color="primary" routerLink='/home'> Back To Home</button>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>