.thumb-holder{
    button{
        width: 80%;
        margin: 10px;
    }
    
}
.img-fluid {
    height: 14vw;
    object-fit: contain;
    
}

.links {
    img {
        width: 3.4vw;
        margin:0px 10px;
        padding: 10px;
    }

    img:hover {
        background-color: rgba(61, 238, 220, 0.507);
    }
}

.col-md-6{
    border: 1px solid black;
}