<mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
<div class="content">
  <div class="dim" *ngIf='successfulUpdate'>
    <div class="msg">
      <h1>{{successfulUpdateMessage}}</h1>
      <br><br>
      <button class="btn btn-outline-info" (click)=dismiss() style="width:10%">
        Dismiss
      </button>
    </div>
  </div>

  <h1 class="title">Profile</h1>
  <hr>
  <div class="row">

    <div class="col-md-4">
      <div class="container-fluid">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
              <div class="row">
                <div class="col-md-12">
                    <button style="float: right;" type="submit" mat-raised-button color="primary"
                    [disabled]="!formData.valid">Save</button>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="mat-form-field">
                    <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
                    <mat-error *ngIf="checkError('firstName', 'maxlength')">Maximum 30 symbols are allowed!</mat-error>
                    <mat-error *ngIf="checkError('firstName', 'required')">First name is required!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="mat-form-field">
                    <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
                    <mat-error *ngIf="checkError('lastName', 'maxlength')">Maximum 30 symbols are allowed!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <mat-form-field class="mat-form-field">
                    <input matInput (keypress)="keyPress($event)" placeholder="Phone Number" name="phone" formControlName="phone">
                    <!-- <mat-error *ngIf="checkError('lastName', 'maxlength')">Maximum 30 symbols are allowed!</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="mat-form-field">
                      <input matInput placeholder="Email" name="email" formControlName="email">
                      <!-- <mat-error *ngIf="checkError('lastName', 'maxlength')">Maximum 30 symbols are allowed!</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <p></p>
                  <a href="javascript: void(0)" (click)="file.click()">Upload new picture</a>
                  <p></p>
                  <div class="thumb-holder">
                    <img class="img-fluid img-thumbnail" [src]='profileImgSrc' alt="Profile picture">
                    <input type="file" #file style="display: none;" (change)="onFileSelected($event)" accept="image/*">
                  </div>
                  <!-- <button mat-stroked-button color="primary" (click)="profileImage.click()">Upload picture</button> -->

                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>



    <div class="col-md-4">
      <h6 class="text-left"><b>ID: {{user?.id || 'n/a'}}</b></h6>
      <hr>
      <div>
        <span class="text-left">
          Type Of User: <b>{{user?.typeOfUser}}</b>
          <br>
          Subscription/s:
          <b>{{subscriptions}}</b> - <a routerLink='/subscriptions/preview'>Go2</a>
          <br>
          Course/s:
          <b>{{courses}}</b> - <a routerLink='/courses/preview'>Go2</a>
          <br>
          Role/s:  <b>({{user?.roles?.length}})</b>
          <span *ngFor='let r of user?.roles' class="col-md-4 text-center">
            ({{r?.roleType}})
          </span>
          <br>
          <hr>
          <div class="">
            <h6 class=""><b>Stored Account Data</b></h6>
            <hr>
            <p>Check the data we store provided by your personal journey in BaiGanio web app</p>
            <button
                mat-raised-button>
                <i class="fas fa-search"></i>
            </button>
            <button mat-raised-button color='primary' class="ml-3">
              Download as PDF
            </button>
            <button mat-stroked-button color="warn" (click)='deleteAccount()'>! Delete Account</button>
          </div>
          <br>
          <div>
            <hr>
            <h6 class="card-title"><b>Enabled Notifications</b></h6>
            <hr>
            <p>1/3</p>
            <a href="#">What's this?</a>
            <button mat-raised-button color='primary' class="ml-3" (click)='editNotifications()'>
              Edit
            </button>
          </div>
        </span>
      </div>
    </div>



    <div class="col-md-4">
      <h6><b>Change Password</b></h6>
      <hr>
      <p>
        Use special character to provide best protection for your account.
        <br>
        <b>Pass strenght: {{user?.passwordStrength*10 || 0 }} / 100%</b>
      </p>
      <a class="raw" (click)="passStrength()">How we know it?</a>
      <button mat-raised-button color='primary' class="ml-3" (click)="changePassword()">
        Edit
      </button>
      <br>
      <br>
      <h5 class="card-title"><b>Modified on:</b> {{user?.modifiedOn | date :'dd-MMMM-yyyy'}} {{user?.modifiedOn | date :'hh:mm:ss a'}}</h5>
      <hr>
    </div>


    <!-- <div class="col-md-3 col-center text-center">
      <h3>Profile picture</h3>

      <form [formGroup]="profileImageFG" class="text-center">
        <div class="card">
          <div class="card-body">
            <div class="thumb-holder">
              <img class="profileImg img-fluid img-thumbnail" [src]='profileImgSrc' alt="Profile picture">
              <input type="file" formControlName='profilePicture' #profileImage style="display: none;"
                (change)="onFileSelected($event)" accept="image/*">
              <br>
              <button mat-stroked-button color="primary" (click)="profileImage.click()">Upload picture</button>
              <button mat-stroked-button color="warn" (click)='clearPicture()'>Clear Picture</button>
              <hr>
              <button mat-raised-button color="primary" (click)="updateProfilePicture()"
                [disabled]="!profileImageFG.valid">
                Update Picture
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-3">
      <h3>Personal info</h3>
      <form [formGroup]="profileDataFG" class="text-center">
        <mat-vertical-stepper [linear]="false" #profileUpdateStepper>
          <mat-step [stepControl]="profileDataFG.get('firstName')">
            <ng-template matStepLabel>First name</ng-template>
            <mat-form-field>
              <input matInput placeholder="First name" formControlName="firstName">
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
            </div>
          </mat-step>
          <mat-step [stepControl]="profileDataFG.get('lastName')">
            <ng-template matStepLabel>Last name</ng-template>
            <mat-form-field>
              <input matInput placeholder="Last name" formControlName="lastName">
            </mat-form-field>
            <div>
              <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
              <button mat-raised-button color="primary" class="ml-3" matStepperNext type="button">Next</button>
            </div>
          </mat-step>
          <mat-step [stepControl]="profileDataFG.get('username')">
            <ng-template matStepLabel>Username</ng-template>
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <div>
              <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
              <button mat-raised-button color="primary" class="ml-3" matStepperNext type="button">Next</button>
            </div>
          </mat-step>
          <mat-step [stepControl]="profileDataFG.get('email')">
            <ng-template matStepLabel>Email</ng-template>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <div>
              <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
              <button mat-raised-button color="primary" class="ml-3" matStepperNext type="button">Next</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
              <button mat-stroked-button color="warn" (click)="clearForm()">Clear</button>
              <button mat-raised-button class="ml-3" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" class="ml-3" (click)='updateProfile()'>Update</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </div> -->





    <br>
  </div>
</div>

