.info{
    font-size: 0.8em;
    // padding: 10px 15px 10px 15px;
    // background-color: rgb(39, 173, 235);
    // border-radius: 100%
}
    a.raw{
        cursor: pointer;
        color:#007bff;
    }

h2 {
    font-size: 3em;
}
.thumb-holder{
    button{
        width: 80%;
        margin: 10px;
    }
    .img-fluid {
        height: 14vw;
        object-fit: contain;
        
    }
}
mat-form-field{
    width:80%;
}
@media only screen and (max-width: 576px) {
    .thumb-holder {
        .img-fluid {
            width: 100%;
            height: 59vw;
            object-fit: contain;
        }
    }
}