mat-form-field {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.toast-msg-cust {
    display: block;
    position: relative;
    box-shadow: 0 0 50px black;
    border-radius: 2px;
    opacity: 0.9;
    width: 34vw;
    margin: 0 auto;

    .error {
        padding: 10px;
        width: 34vw;
        text-align: center;
        overflow: hidden;
        word-wrap: break-word;
        font-weight: bold;
        text-shadow: 0 0 50px black;
        color: white;
        border-radius: 2px;
        background-color: #ff3547;
    }
}