<div class="content" style="overflow: hidden !important;">
  <div class="row">
      <div class="col-10 col-sm-8 col-center">
              <div class="done text-center" *ngIf='notificationFlagUpdateInfo; else btnUpdateStudentInfo'>
                  <img src="../../../../../../assets/images/green-tick.jpg" style="width:40%">
                  <br>
                  <h1>Student info updated successfuly!</h1>
              </div>
              <ng-template #btnUpdateStudentInfo>
                  <!-- Student Dash Form -->
                  <form [formGroup]="studentDashForm">
                      <br>
                      <mat-form-field>
                          <input type="text" matInput id="studentGitHub" formControlName="studentGitHub" placeholder="* GitHub Profile URL">
                      </mat-form-field>

                      <mat-form-field>
                          <mat-select placeholder="* Universuty" id="studentUniversity" formControlName="studentUniversity">
                              <mat-option value='Plovdiv University "Paisii Hilendarski"'>
                                  Plovdiv University "Paisii Hilendarski"
                              </mat-option>
                          </mat-select>
                      </mat-form-field>

                      <ng-container *ngIf='studentDashForm.get("studentUniversity").value !== null'>
                          <mat-form-field>
                              <input type="text" matInput id="studentFN" formControlName="studentFN" placeholder="* Faculty number">
                          </mat-form-field>

                          <mat-form-field>
                              <mat-select placeholder="* Speciality" id="studentSpeciality" formControlName="studentSpeciality">
                                  <mat-option *ngFor='let spec of specialityList' value='{{spec}}'>
                                      {{spec}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>

                          <ng-container *ngIf='studentDashForm.get("studentSpeciality").value !== null'>
                                  <mat-form-field>
                                      <mat-select placeholder="* Group" id="studentGroup" formControlName="studentGroup">
                                          <mat-option *ngFor='let group of groupsList' value='{{group}}'>
                                              {{group}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <mat-form-field>
                                      <input type="number" matInput id="studentYearOfStudy" formControlName="studentYearOfStudy" placeholder="* Year of Study (ex: 1-4)">
                                  </mat-form-field>
                                  <mat-form-field>
                                      <input type="number" matInput id="studentYearOfGraduating" formControlName="studentYearOfGraduating" placeholder="* Year of Graduating (ex: 2020-2024)">
                                  </mat-form-field>
                          </ng-container>
                      </ng-container>
                  </form>
                  <!-- Toast Messages -->
                  <div id="errMsg" class="animated toast-msg-cust bounceIn d-none" aria-live="polite" role="alert">
                      <div class="error text-center">
                          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{errMsg}}
                      </div>
                  </div>
                  <!-- ./Student Dash Form -->
                  <br>
                  <div class="text-center">
                      <button mdbBtn
                          color="primary"
                          class="btn-block waves-light"
                          mdbWavesEffect
                          [disabled]='studentDashForm.valid !== true || studentDashForm.touched === false'
                          (click)='updateStudentInfo()'>
                          Update <i class="fa fa-paper-plane-o ml-1"></i>
                      </button>
                  </div>
              </ng-template>
      </div>
  </div>
</div>
<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading> -->
