button{
  font-size: 1.4rem;
  padding: 10px;
}
.have-account{
  font-family: 'Alsandra';
  padding: 10px;
}
.mat-raised-button.mat-blue{
  color: white !important;
}
.have-account:hover{
  background: rgb(52, 199, 243);
  color: white !important;
}

#viewRegister {
  width: 50%;
  margin: 0 auto;

  mat-form-field {
    width: 100%;
    input{
    font-size: 1.4em;
   }
  }

  .register-button {
    position: relative;
    float: right;
    top: -165px;
    margin-right: -25px;
    background: #f7f3f3;
    color: black;
    font-size: 2.4em;
    padding: 10px 0;
    width: 130px;
    height: 130px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;

    &:enabled {
      color: whitesmoke;
      background: rgb(52, 199, 243);
    }

    &:enabled:hover {
      color: black;
      cursor: pointer;
      background: rgb(20, 238, 20);
      transform: rotate(720deg);
    }
  }

  #terms{
    color: darkblue
  }
}

@media only screen and (max-width: 736px) {
  .GotHeroin {
    font-size: 6.6em;
  }

  #viewRegister {
    width: 80%;

    .register-button{
      top: -155px;
      font-size: 1.4em;
      width: 100px;
      height: 100px;
    }
  }
}
