.card{
    width: 98%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
mat-form-field {
    width: 80%;
    display: block;
    margin: 0 auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
.img-fluid {
    border: 1px solid black;
    height: 10vw;
    object-fit: contain;
}