<div   class="card text-center" style="width: 98%; margin:0auto;">
    <div class="card-body row">
        <div class="col-md-4">
            <img src="{{ subscription?.image}}" class="img-thumbnail img-fluid">
            <br>
            <br>
            <h2 class="card-title text-center">Name: {{student?.name}}
            </h2>
            <hr style="width:80%;border-top: 2px solid rgba(0,0,0,.1);">
           <div style="text-align: center">
            <p> University: {{studentForm.value?.university || 'n/a'}}</p>
            <hr>
            <p> F№: {{studentForm.value?.facultyNumber || 'n/a'}}</p>
            <hr>
            <p> Speciality: {{studentForm.value?.speciality || 'n/a'}}</p>
            <hr>
            <p> Enrolled Courses: 100K</p>
            <hr>
            <p> Modified On : {{student?.modified_on  | date : 'dd-MMM-yyyy HH:MM:ss'}}</p>
            <hr>
           </div>
        </div>
        <div class="col-md-5">
            <form [formGroup]='studentForm'>
                <mat-vertical-stepper [linear]="false">
                    <mat-step [stepControl]="studentForm.get('university')">
                        <ng-template matStepLabel>University</ng-template>
                        <mat-form-field>
                            <input type="text" matInput placeholder="University" formControlName="university">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                            <button mat-raised-button color="primary" class="ml-3" matStepperNext
                                type="button">Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="studentForm.get('facultyNumber')">
                        <ng-template matStepLabel>F№</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="(ex) 11223344" formControlName="facultyNumber">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                            <button mat-raised-button color="primary" class="ml-3" matStepperNext
                                type="button">Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="studentForm.get('speciality')">
                        <ng-template matStepLabel>Speciality</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Specialty" formControlName="speciality">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                            <button mat-raised-button color="primary" class="ml-3" matStepperNext
                                type="button">Next</button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="studentForm.get('gitHubProfileUrl')">
                        <ng-template matStepLabel>GitHub Profile Url</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="(ex) https://github.com/BaiGanio"
                                formControlName="gitHubProfileUrl">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                            <button mat-raised-button color="primary" class="ml-3" matStepperNext
                                type="button">Next</button>
                        </div>
                    </mat-step>

                    <!-- <mat-step [stepControl]="studentForm.get('studentGroup')">
                        <ng-template matStepLabel>Group</ng-template>
                        <mat-form-field>
                            <input type="number" matInput id="studentGroup" formControlName="studentGroup"
                                placeholder="Group">
                        </mat-form-field>
                    </mat-step> -->

                    <!-- <mat-step [stepControl]="studentForm.get('studentYearOfStudy')">
                        <ng-template matStepLabel>Year</ng-template>
                        <mat-form-field>
                            <input type="number" matInput id="studentYearOfStudy" formControlName="studentYearOfStudy"
                                placeholder="* Year of Study (ex: 1-4)">
                        </mat-form-field>
                    </mat-step> -->

                    <!-- [stepControl]="studentForm.get('studentYearOfGraduating')">
                        <ng-template matStepLabel>Graduating</ng-template>
                        <mat-form-field>
                            <input type="number" matInput id="studentYearOfGraduating"
                                formControlName="studentYearOfGraduating"
                                placeholder="* Year of Graduating (ex: 2020-2024)">
                        </mat-form-field> -->
                    <!-- <mat-step>
                        <div>
                            <button mat-raised-button class="ml-3" matStepperPrevious type="button">Back</button>
                            <button mat-raised-button color="primary" class="ml-3" matStepperNext
                                type="button">Next</button>
                        </div>
                    </mat-step> -->

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <div>
                            <button mat-raised-button class="ml-3" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" class="ml-3" (click)='updateStudent()'>Update</button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </form>
        </div>
        <div class="col-md-3">
            <p> Enrolled Courses: 100K</p>
            <hr>
            <p> Modified On : {{subscription?.modified_on}}</p>
            <hr>
        </div>
    </div>
</div>