<h1 class="text-center">Account Details</h1>
<div class="row text-center">
  <div class="col-xl-3 col-lg-4 col-md-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last Account update</h5>
        <p class="card-text">21/06</p>
        <h1>June</h1>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Subscribed notifications</h5>
        <h1>0</h1>
        <a href="#">More info...</a>
        <button mat-raised-button color='primary' class="ml-3" >
          Edit
        </button>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Change Password</h5>
        <p class="card-text">Use special character to provide best protection for your password</p>
        <button mat-raised-button color='primary' (click)="changePassword()">
          Edit
        </button>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stored Account data</h5>
        <p class="card-text">This data we store provided by your personal journey in BaiGanio web app</p>
        <a href="#">Download as PDF</a>
        <button mat-raised-button color='primary' class="ml-3">
          Preview
        </button>
      </div>
    </div>
  </div>
</div>
