.card-subscription{
    background-color: rgb(204, 255, 179);
    // min-height: 540px;
    margin-bottom: 10px; 
    span.raw{
        cursor: pointer;
        color:#0127f7;
    }
    p span{
        color:#0127f7;
    }
}
.card-account-confirmation{
    background-color: rgb(179, 236, 255);
    // min-height: 540px;
    margin-bottom: 10px;
    span.raw{
        cursor: pointer;
        color:#0127f7;
    }
    p span{
        color:#0127f7;
    }
}
.card-course-enrollment{
    background-color: rgb(247, 246, 156);
    // min-height: 540px;
    margin-bottom: 10px;
    span.raw{
        cursor: pointer;
        color:#0127f7;
    }
    p span{
        color:#0127f7;
    }
}
.card-forgotpass{
    background-color: rgb(244, 146, 66);
    // min-height: 540px;
    margin-bottom: 10px;
    span.raw{
        cursor: pointer;
        color:#0127f7;
    }
    p span{
        color:#0127f7;
    }
}