<ngx-loading [show]="loading"></ngx-loading>
<h1 class="title"><span routerLink='/dashboard' class="back">back</span> << Received Notifications</h1>
<p class="text-center">Total Of: {{notificationsCount}}</p>
<hr>
<br>
<div class="row">
  <div id="exception-list" class="col-md-3" *ngFor='let element of notificationsArray'>
      <div [className]='getCssClass(element.type)'>
        <div class="card-body">
          <p>
            <b>id :</b> {{element.id}}
          </p>
          <hr style="width:100%; color: black;">
          <span class="card-text">
            <!-- <b>user_id :</b> {{element.user_id}}
            <br>
            <b>base_method :</b> {{element.base_method}}
            <br> -->
            <b>type :</b> {{element.type}}
            <br>
            <b>status :</b> {{element.status}}
            <br>
            <!-- <div *ngIf='element.type === "ForgotPassword"'>
              <b>confirmation_link :</b> {{element.model.confirmation_link}}
              <br>
              <b>email :</b> {{element.model.email}}
              <br>
            </div> -->
            <div *ngIf='element.model.subscription_id'>
              <b *ngIf='element.model.subscription_id'>subscription_id : </b> {{element.model.subscription_id}}
              <br />
              <b *ngIf='element.model.subscription_name'>subscription_name :</b> {{element.model.subscription_name}}
              <br>
            </div>
            <div *ngIf='element.model.course_id'>
              <b *ngIf='element.model.course_id'>course_id :</b> {{element.model.course_id}}
              <br />
              <b *ngIf='element.model.course_name'>course_name :</b> {{element.model.course_name}}
              <br />
              <b *ngIf='element.model.image'>image :</b> {{element.model.image}}
              <br />
            </div>
            <!-- <div *ngIf='element.type  !== "ForgotPassword"'> -->
            <div>
              <!-- <b>confirmation_link :</b> {{element.model.confirmation_link}}
              <br> -->
              <b>subject :</b> {{element.model.subject}}
              <br>
              <!-- <b>subject_hidden :</b> {{element.model.subject_hidden}}
              <br> -->
              <b>email_to :</b> {{element.model.email_to}}
              <br>
              <!-- <b>message :</b> {{element.model.message}}
              <br> -->
              <b>raw_html :</b>
              <span class="raw" (click)='goToHtml(element.model.raw_html)'>
                click me!
              </span>
            </div>
          </span>
          <hr style="width:100%; color: black;">
          <p style="float: right;">
            <b>created_on :</b><span> {{element.created_on | date : 'dd-MMM-yy hh:mm:ss a'}} </span>
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>