h2{
    text-align: center;
}
.card{
    margin-bottom: 15px;
    background: snow;
}
button{
     font-size: 1em;
    // width: 30%;
     padding: 5px;
     margin: 5px;
}
.img-fluid {
    border: 1px solid black;
    height: 14vw;
    object-fit: contain;
}