/* Angular Material Indigo/Pink theme */

//@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans+Condensed:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&display=swap");


@font-face {
  font-family: 'Alsandra';
  src: url('/fonts/alsandra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for better performance in 2025 */
}
/* Optional: Global Material typography */

body {
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
}
/* Optional: Smooth scrolling */
html {
  scroll-behavior: smooth;
  width: 100%;
}

.page-container {
  min-height: calc(100vh - 64px - 64px); /* navbar + footer height */
}

.hr-title{
  width: 64%;
  text-align: center;
  margin: 10px auto 10px auto;
  color: blue;
}

.mat-tab-label{
  font-size: 1.6em !important;
}
.card:hover{
  box-shadow: -1px 5px 15px 0px rgba(0,0,0,0.8);
}
.title{
  font-family:'Amatic SC', sans-serif;
  font-size: 6em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  text-align: center;
}

/* Optional: Make Material components feel tighter (modern density) */
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  letter-spacing: 0.3px;
}
