<button  
    type="button"               
    class="btn btn-outline-info ml-3" 
    (click) = 'backToMyCourses()'>
    Go 2 My Enrollments
</button> 
\  
<button  
    type="button"                        
    class="btn btn-outline-info ml-3" 
    routerLink='/dashboard'>
    Go 2 Dashboard
</button>  
\  
<button  
    type="button"                        
    class="btn btn-outline-info ml-3" 
    routerLink='/profile'>
    Go 2 Profile
</button> 
<p class="h2 text-center mb-4">Course Progress</p>
<mat-tab-group >   
    <mat-tab label="Overall Score">
        <ng-template matTabContent>
            <!-- <app-linechart></app-linechart> -->
            <!-- <app-barchart></app-barchart> -->
            <!-- <app-piechart></app-piechart> -->
            <!-- <app-doughnut></app-doughnut> -->
            <app-polararea></app-polararea>
        </ng-template>
    </mat-tab>
    <mat-tab label="In Class">
        <ng-template matTabContent>
            <app-in-class></app-in-class>
        </ng-template>
    </mat-tab>
    <mat-tab label="Homeworks">
        <ng-template matTabContent>
        <app-homeworks></app-homeworks>
        </ng-template>
    </mat-tab>
    <mat-tab label="Self Motivation">
        <ng-template matTabContent>
        <app-homeworks></app-homeworks>
        </ng-template>
    </mat-tab>
    <mat-tab label="Exam 1">
        <ng-template matTabContent>
        <app-homeworks></app-homeworks>
        </ng-template>
    </mat-tab>
    <mat-tab label="Exam 2">
        <ng-template matTabContent>
        <app-homeworks></app-homeworks>
        </ng-template>
    </mat-tab>
    <mat-tab label="Final Exam">
        <ng-template matTabContent>
        <app-homeworks></app-homeworks>
        </ng-template>
    </mat-tab>
    <mat-tab label="Chat Room">
        <ng-template matTabContent>
        <app-homeworks></app-homeworks>
        </ng-template>
    </mat-tab>
    <mat-tab label="Resources">
        <ng-template matTabContent>
        <app-homeworks></app-homeworks>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<br><br>